<body class="login-page sidebar-collapse">
    <nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100"
        id="sectionsNav">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="#">
                    BLACK HOLE</a>

            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/" onclick="scrollToDownload()">
                            <i class="material-icons">assignment</i> Sign In
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup" onclick="scrollToDownload()">
                            <i class="material-icons">cloud_download</i> Sign Up
                        </a>
                    </li>


                </ul>
            </div>
        </div>
        </div>
    </nav>
    <div class="page-header header-filter"
        style="background-image: url('img/bg7.jpg'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                    <div class="card card-login card-plain">
                        <form class="form" method="" action="">
                            <div class="card-header card-header-primary text-center">
                                <h4 class="card-title">Forgot password</h4>
                            </div>


                            <br />
                            <div class="card-body">


                                <div class="ui left icon input fluid big">
                                    <input type="text" placeholder="Type your user name...">
                                    <i class="users icon"></i>
                                </div>
                                {{!-- <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">mail</i>
                                        </span>
                                    </div>
                                    <input type="email" class="form-control" placeholder="Email...">
                                </div> --}}

                            </div>
                            <div class="footer text-center">

                                <button class="ui button">
                                    <a href="/">
                                        Submit
                                    </a>
                                </button>


                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>